.feynman {
  /* Позиционирование */
  position: relative;
  background-color: rgba(194, 194, 194, 0.3);
  z-index: -2;

  /* Размеры и отступы */
  margin-top: 100px;
  padding-top: 100px;
  min-height: 790px;
}